body{
    background: rgb(74, 129, 237);
    margin: 0;
    padding: 20px;
}

h1{
    color: white;
    font-size: 70px;
}

h3{
    font-weight: bold;
    color: white;
}

p{
    color: rgb(128 237 74);
    font-size: 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(237 183 74);
    text-decoration: underline;
}

.additionalInfo{
    display: flex;
    justify-content: right;
    gap: 5%;
    margin-top: 3%;
}

.container{
    margin: 0 auto;
    max-width: 70%;
    padding: 40px 0;
}

.title{
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
}

.algorithmSelectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 40px 0;
}

.dds {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.dropDown{
    position: relative;
    display: inline-block;
}

.dropButton{
    background-color: rgb(237 183 74);
    color: white;
    gap: 20%;
    font-size: large;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.dropButton:hover, .dropButton:focus{
    background-color: rgb(220, 165, 60);
}

.searchDropDownContent{
    display: none;
    position: absolute;
    background-color: rgb(183 74 237);
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.sortDropDownContent{
    display: none;
    position: absolute;
    background-color: rgb(183 74 237);
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.searchDropDownContent a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.searchDropDownContent a:hover{
    background-color: rgb(128 237 74);
}

.sortDropDownContent a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}
.sortDropDownContent a:hover{
    background-color: rgb(128 237 74);
}

.show{
    display: block;
}

@media(max-width:768px){
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 18px;
    }

    .container {
        max-width: 90%;
        padding: 20px 0;
    }

    .additionalInfo {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .dds {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    .dropButton {
        width: 200px;
        padding: 12px 20px;
    }
}