<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <header>
        <div class = "navContainer">
            <div class="logo">
                <i class="fas fa-project-diagram"></i>
                <span>Algorithms</span>
            </div>

            <div class = "navLinks">
                <a href="https://github.com/Josink/Sinkaiye-CS203-F25-G6-Project2-Website" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                <a href="/algorithms"><i class="fas fa-sort-amount-down"></i> Algorithms</a>
            </div>

            <% if (user){ %>
                <div class = "authenticationButton">
                    <a href = "/dashboard" class = "btn btn-outline"><i class = "fas fa-user"></i> Dashboard</a>
                    <a href="/logout" class="btn btn-primary">Log out</a>
                </div>
            <% } else{ %>
                <div class = "authenticationButton">
                    <a href="/login" class="btn btn-outline">Log In</a>
                    <a href="/signup" class="btn btn-primary">Sign Up</a>
                </div>
            <% } %>

        </div>

    </header>


    <main>
        <div class="container">

            <div class="title">
                <h1>ALGORITHMS</h1>
            </div>

            <p>
                This website randomly generates integers and sorts them using
                common algorithms in computer science. It is a modified assignment
                for <span class = highlight>CS 203</span> taught by
                <span class = highlight>Dr. Jamal Alhiyafi</span> at
                <span class = highlight>Kettering University</span>.
            </p>

            <div class = infoCards>
                <div class = card>
                    <i class = "fas fa-info-circle"></i>
                    <h3>How does this work?</h3>
                    <p>Log in (or create an account by signing up if you haven't already) in the upper right corner.
                    Once logged in, you can choose whether to sort or search a given number of values.
                    Your dashboard will display instances of these values before and after they were searched
                    or sorted</p>
                </div>

                <div class = card>
                    <i class = "fas fa-search"></i>
                    <h3>Search Algorithms</h3>
                    <p>The two searching algorithms available for use are Sequential and Binary search.</p>
                </div>

                <div class = card>
                    <i class = "fas fa-sort"></i>
                    <h3>Sorting Algorithms</h3>
                    <p>The sorting algorithms available for use are selection sort, bubble sort, insertion sort,
                    merge sort, quick sort, and heap sort.</p>
                </div>

                <div class = card>
                    <i class="fas fa-chart-bar"></i>
                    <h3>Performance Analysis</h3>
                    <p>Compare algorithm efficiency with time and space complexity metrics</p>
                </div>

            </div>

            <% if (!user){ %>
                <span class = highlight>To get started, sign up to create an account!</span>
            <% } %>
        </div>

    </main>

<%- include('includes/footer') %>

</body>
</html>
