<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CS 203 Project 2 Website Login Page</title>
    <link rel = stylesheet href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

<header>
    <div class = "navContainer">

        <div class="logo">
            <i class="fas fa-project-diagram"></i>
            <span>Algorithms</span>
        </div>

        <div class = "navLinks">
            <a href="https://github.com/Josink/Sinkaiye-CS203-F25-G6-Project2-Website" target="_blank"><i class="fab fa-github"></i> GitHub</a>
            <a href="/algorithms"><i class="fas fa-sort-amount-down"></i> Algorithms</a>
        </div>

        <div class = "authenticationButton">
            <a href="/" class="btn btn-outline">Home</a>
            <a href="/login" class="btn btn-primary">Log In</a>
        </div>

    </div>

</header>

<main>
    <div class = container>
        <div class = title>
            <h1>SIGNUP</h1>

            <form action = "/register" method = "POST">
                <% errors.forEach(error =>{ %>
                    <p class = notice>*<%= error %></p>
                <%})%>

                <fieldset>
                    <label for="username">Desired Username</label>
                    <input type="text" id="username" name="username" autocomplete="off">
                    <label for="password">Desired Password</label>
                    <input type="password" id="password" name="password" autocomplete="off">

                    <button>Sign Up</button>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<footer>
    <small>&copy; CS 203 Project 2 - Jay Sinkaiye</small>
</footer>

</body>

</html>